RewriteEngine On
RewriteCond %{HTTP_HOST} ^bidzbee.com
RewriteRule ^(.*)$ http://www.bidzbee.com/$1 [R=permanent,L]
RewriteRule public - [L]
RewriteRule temps - [L]
RewriteRule (.*) application/index.php [L]
AddDefaultCharset UTF-8
Options -Indexes